body {
    background: blanchedalmond;
  text-align: center;
}

#logo-navbar-container{
    background-color: blanchedalmond;
    width:80%;
    margin:auto;
    border-radius: 30px;
}

#logo-text{
    font-size: 90px;
    color: red;
    font-style: bold;
    display:inline-block;
    padding:30px;
    background-color: white;
    border-radius: 30px;
    border-style: solid;
}

#navbar-row{
  background-color: blanchedalmond;
}
.navbar{
    background-color: #00A36C;
    display:flexbox;
    font-size: 30px;
    margin: 10px;;
    align-self: center;
    text-align: center;
    list-style-type:none;
    padding:30px;
    border-style: solid;
    border-radius: 30px;

}

.nav-item-position{
    display: inline;
    padding: 30px;
}

.nav-item{
    font-size: 50px;
    font-style: italic;
    color: black;
    background-color: blanchedalmond;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border-style: solid;
}

#nav-text:hover{
  color:red;
  background-color: white;
  font-size: 60px;
}

#home-container{
  width:80%;
  margin:auto; 
}

#home-row{
  display:inline-flex;
  width: 90%;
  
}

#picture-of-store-column{
    width:40%;
    text-align: center;
}

#picture-of-store{
  border-radius:30px;
  width:600px
}

#weekly-schedule{
  background-color: white;
  padding-top:50px;
  width: 30%;
  border-style:solid;
  border-radius:30px;
}

#location-column{
  padding-top: 50px;
  background-color: white;
  width:30%;
  border-radius: 30px;
  border-style: solid;
  align-self: center;
}



#gallery-container{
  padding-top:10px;
  text-align: center;
  width: 80%;
}



#slideshow-column-title{
 font-style: bold;
 font-size: 40px;
 color:#00A36C;
 text-align: center;
 background-color: white;
 border-radius: 30px;
 padding-left: 20px;
 padding-right:20px;
border-style:solid;
}

.slideshow-container {
  background-color: white;
}

.mySlides{
  border-style: solid;
  display:inline-flexbox;
}




.fade {
 -webkit-animation: fade 8s cubic-bezier(.4, 0, .2, 1) infinite;
 -moz-animation: fade 8s cubic-bezier(.4, 0, .2, 1) infinite;
 -o-animation: fade 8s cubic-bezier(.4, 0, .2, 1) infinite;
 animation: fade 8s cubic-bezier(.4, 0, .2, 1) infinite;
}

@-webkit-keyframes fade {
 0%,100% { opacity: 0 }
 20%,80% { opacity: 1 }
}

@-moz-keyframes fade {
 0%,100% { opacity: 0 }
 20%,80% { opacity: 1 }
}

@-o-keyframes fade {
 0%,100% { opacity: 0 }
 20%,80% { opacity: 1 }
}

@keyframes fade {
 0%,100% { opacity: 0 }
 20%,80% { opacity: 1 }
}